footer.footer
    .container
        .footer__inner
            a.footer__item-link.footer__item-link--contact(href="#") Questions? Contact us.
            .footer__items-wrap
                .footer__item
                    a.footer__item-link(href="#") FAQ
                    a.footer__item-link(href="#") Investor Relations
                    a.footer__item-link(href="#") Privacy
                    a.footer__item-link(href="#") Speed Test

                .footer__item
                    a.footer__item-link(href="#") Help Center
                    a.footer__item-link(href="#") Jobs
                    a.footer__item-link(href="#") Cookie Preferences
                    a.footer__item-link(href="#") Legal Notices

                .footer__item
                    a.footer__item-link(href="#") Account
                    a.footer__item-link(href="#") Ways to Watch
                    a.footer__item-link(href="#") Corporate Information
                    a.footer__item-link(href="#") Netflix Originals

                .footer__item
                    a.footer__item-link(href="#") Media Center
                    a.footer__item-link(href="#") Terms of Use
                    a.footer__item-link(href="#") Contact Us

            a.footer__item-link.footer__item-link--country(href="#") Netflix Country



