form.form-start
    h3.form-start__title Ready to watch? Enter your email to create or restart your membership.
    .form-start__inner
        input.form-start__input(type="text" placeholder="Email address")
        button.form-start__submit: span Try 30 days free
