.footer {
    padding: 70px 0 30px;
}

.footer__inner {
    padding: 0 300px 0 150px;

    @include media-tablet-ls {
        padding: 0 40px;
    }
}

.footer__items-wrap {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__item {
    display: flex;
    flex-direction: column;

    margin-right: .7rem;

    @include media-smartphone-ls {
        width: 35%;
    }
}

.footer__item-link {
    font-size: .8rem;

    margin-bottom: 1.5rem;

    color: lighten($color-tertiary-dark, 35);

    &:hover {
        text-decoration: underline;
    }

    &.footer__item-link--contact {
        font-size: 1rem;

        margin-bottom: 2rem;
    }
}

.footer__item-country {
    font-size: .8rem;

    margin-top: 1.5rem;

    color: lighten($color-tertiary-dark, 35);
}
