// @import '../mixins/media';

// header {
//     @include media-tablet {
//         width: 500px;
//     }
// }

.header {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;

    width: 100%;
    height: 100px;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 3.5rem;
}

.header__logo {
    max-width: 170px;
}

.header__link {
    @include link(8px, 18px, 3px);
}
