extends common/layout

block content
    section.intro(style="background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%), url(img/intro-bg.jpg);")
        .intro__inner
            h1.intro__title Unlimited movies, TV shows and more.
            h2.intro__subtitle Watch anywhere. Cancel anytime.
            include includes/index/form

    section.features
        .features__inner
            .features__item
                .features__item-descrip
                    h3.features__item-title Create profiles for kids.
                    p.features__item-txt Send kids on adventures with their favorite characters in a space made just for them — free with your membership.
                .features__item-img-container
                    img.features__item-img(src="img/features/f1.jpg" alt="")

            .features__item
                .features__item-descrip
                    h3.features__item-title Enjoy on your TV.
                    p.features__item-txt Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray players, and more.
                .features__item-img-container
                    img.features__item-img(src="img/features/f2.png" alt="")
                    video.features__item-vid.features__item-vid--tv(src="img/features/v2.mp4" autoplay playsinline muted loop)

            .features__item
                .features__item-descrip
                    h3.features__item-title Download your shows to watch offline.
                    p.features__item-txt Save your favorites easily and always have something to watch.
                .features__item-img-container
                    img.features__item-img(src="img/features/f3-1.jpg" alt="")
                    .features__item-panel
                        img.features__item-panel-img(src="img/features/f3-2.png" alt="")
                        p.features__item-panel-txt Stranger Things <br>
                            span Downloading...
                        img.features__item-panel-img(src="img/features/download-icon.gif" alt="")

            .features__item
                .features__item-descrip
                    h3.features__item-title Watch everywhere.
                    p.features__item-txt Stream unlimited movies and TV shows on your phone, tablet, laptop, and TV without paying more.
                .features__item-img-container
                    img.features__item-img(src="img/features/f4.png" alt="")
                    video.features__item-vid.features__item-vid--mac(src="img/features/v1.mp4" autoplay playsinline muted loop)

    section.faq
        .container
            h3.faq__title Frequently Asked Questions
            ul.faq__list
                li.faq__item
                    button.faq__item-question What is Netflix?
                        svg.faq__item-icon: use(xlink:href="img/sprite.svg#plus")
                    .faq__item-answer
                        .faq__item-answer-txt
                            p Netflix is a streaming service that offers a wide variety of award-winning TV shows, movies, anime, documentaries, and more on thousands of internet-connected devices.
                            p You can watch as much as you want, whenever you want without a single commercial – all for one low monthly price. There's always something new to discover and new TV shows and movies are added every week!

                li.faq__item
                    button.faq__item-question How much does Netflix cost?
                        svg.faq__item-icon: use(xlink:href="img/sprite.svg#plus")
                    .faq__item-answer
                        .faq__item-answer-txt
                            p Watch Netflix on your smartphone, tablet, Smart TV, laptop, or streaming device, all for one fixed monthly fee. Plans range from EUR7.99 to EUR11.99 a month. No extra costs, no contracts.

                li.faq__item
                    button.faq__item-question Where can I watch?
                        svg.faq__item-icon: use(xlink:href="img/sprite.svg#plus")
                    .faq__item-answer
                        .faq__item-answer-txt
                            p Watch anywhere, anytime, on an unlimited number of devices. Sign in with your Netflix account to watch instantly on the web at netflix.com from your personal computer or on any internet-connected device that offers the Netflix app, including smart TVs, smartphones, tablets, streaming media players and game consoles.
                            p You can also download your favorite shows with the iOS, Android, or Windows 10 app. Use downloads to watch while you're on the go and without an internet connection. Take Netflix with you anywhere.

                li.faq__item
                    button.faq__item-question How do I cancell?
                        svg.faq__item-icon: use(xlink:href="img/sprite.svg#plus")
                    .faq__item-answer
                        .faq__item-answer-txt
                        p Netflix is flexible. There are no pesky contracts and no commitments. You can easily cancel your account online in two clicks. There are no cancellation fees – start or stop your account anytime.

                li.faq__item
                    button.faq__item-question What can I watch on Netflix?
                        svg.faq__item-icon: use(xlink:href="img/sprite.svg#plus")
                    .faq__item-answer
                        .faq__item-answer-txt
                            p Netflix has an extensive library of feature films, documentaries, TV shows, anime, award-winning Netflix originals, and more. Watch as much as you want, anytime you want. Join free for 30 days to see everything Netflix has to offer.

                li.faq__item
                    button.faq__item-question Is Netflix good for kids?
                        svg.faq__item-icon: use(xlink:href="img/sprite.svg#plus")
                    .faq__item-answer
                        .faq__item-answer-txt
                            p The Netflix Kids experience is included in your membership to give parents control while kids enjoy family-friendly TV shows and movies in their own space.
                            p Kids profiles come with PIN-protected parental controls that let you restrict the maturity rating of content kids can watch and block specific titles you don’t want kids to see.

                li.faq__item
                    button.faq__item-question How does the free trial work?
                        svg.faq__item-icon: use(xlink:href="img/sprite.svg#plus")
                    .faq__item-answer
                        p.faq__item-answer-txt Try us free for 30 days! If you enjoy your Netflix trial, do nothing and your membership will automatically continue for as long as you choose to remain a member. Cancel anytime before your trial ends and you won’t be charged. There’s no complicated contract, no cancellation fees, and no commitment. Cancel online anytime, 24 hours a day.
            .form-wrap
                include includes/index/form
