extends common/layout

block content
    section.intro(style='background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%), url(img/intro-bg.jpg);')
        .intro__inner
            h1.intro__title Unlimited movies, TV shows and more.
            h2.intro__subtitle Watch anywhere. Cancel anytime.

            form.intro__form
                h3.intro__form-title Ready to watch? Enter your email to create or restart your membership.
                .intro__form-inner
                    input.intro__form-input(type='text', placeholder='Email adress')
                    button.intro__form-submit: span Try 30 days free


