// Mobile first
$mediaWidthMobile: 320px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;
// Colours
$color-primary-light: #fff;
$color-primary-dark: #000;
$color-secondary-light: #e50914;
$color-secondary-dark: #303030;
$color-tertiary-dark: #222;
// Fonts
$font-txt: 'Arial', sans-serif;
// $font-title: 'Montserrat', sans-serif;
