.faq {
    padding: 70px 0;

    border-bottom: 8px solid $color-tertiary-dark;
}

.faq__title {
    font-size: 3.125rem;
    font-weight: 600;

    text-align: center;
}

.faq__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    max-width: 70%;
    margin: 2em auto;
}

.faq__item {
    font-size: 1.625rem;
    line-height: 1.2;

    width: 100%;
    margin-bottom: 10px;

    color: $color-primary-light;
    background-color: $color-secondary-dark;

    &.faq__item--active .faq__item-answer {
        display: block;
    }

    &.faq__item--active .faq__item-icon {
        transform: rotate(45deg);
    }
}

.faq__item-question {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: .8em 1.2em;

    border-bottom: 1px solid $color-primary-dark;
}

.faq__item-icon {
    width: 30px;
    height: 30px;

    transition: .25s cubic-bezier(.5,0,.1,1);

    fill: $color-primary-light;
}

.faq__item-answer {
    display: none;

    max-width: 1200px;
    padding: 1rem 1.2em;
}

.faq__item-answer-txt {
    margin-bottom: 1.2rem;
}
