.form-start {
    margin-top: .85rem;
}

.form-wrap {
    display: flex;
    justify-content: center;

    text-align: center;
}

.form-start__title {
    font-size: 1.2rem;

    margin-bottom: 1.2rem;
}

.form-start__inner {
    display: flex;
    align-items: stretch;
}

.form-start__input {
    font-size: 1.1rem;

    min-width: 450px;
    padding: 20px 10px;

    background-color: $color-primary-light;
}

.form-start__submit {
    position: relative;

    color: $color-primary-light;
    border-left: 1px solid $color-tertiary-dark;

    @include link(15px, 160px, 0);

    & span {
        font-size: 1.7rem;

        position: absolute;
        top: 50%;
        left: 50%;

        min-width: 100%;

        transform: translate(-50%, -50%);
        text-transform: uppercase;
    }
}
