.intro {
    position: relative;

    min-height: 100vh;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &::after {
        position: absolute;
        top: 0;
        left: 0;

        display: block;

        width: 100%;
        height: 100%;

        content: '';

        background: rgba(0, 0 ,0, .4);
    }
}

.intro__inner {
    position: absolute;
    z-index: 1;
    top: 59%;
    left: 50%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    max-width: 950px;

    transform: translate(-50%, -59%);
    text-align: center;
}

.intro__title {
    font-size: 3.125rem;
    font-weight: 600;

    max-width: 625px;
}

.intro__subtitle {
    font-size: 1.625rem;

    margin: 1rem;
}

.intro__form {
    margin-top: .85rem;
}

.intro__form-title {
    font-size: 1.2rem;

    margin-bottom: 1.2rem;
}

.intro__form-inner {
    display: flex;
    align-items: stretch;
}

.intro__form-input {
    font-size: 1.1rem;

    min-width: 450px;
    padding: 20px 10px;

    background-color: $color-primary-light;
}

.intro__form-submit {
    position: relative;

    color: $color-primary-light;
    border-left: 1px solid $color-tertiary-dark;

    @include link(15px, 160px, 0);

    & span {
        font-size: 1.7rem;

        position: absolute;
        top: 50%;
        left: 50%;

        min-width: 100%;

        transform: translate(-50%, -50%);
        text-transform: uppercase;
    }
}
