@mixin link($width, $height, $r1, $r2, $r3, $r4) {
    padding: $width $height;

    border-radius: $r1 $r2 $r3 $r4;
    background-color: $color-secondary-light;

    &:hover {
        transition: background-color .1s linear;

        background-color: lighten($color-secondary-light, 4);
    }
}
